html {
  height: 100%;
}
body.pc {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(228, 214, 193, 0.8);
  @font-face {
    font-family: 'SourceHanSansJP-L', '源ノ角ゴシック-L';
    src: url('
      fonts/SourceHanSansJP-Light.otf
      ') format('opentype');
  }
  @font-face {
    font-family: 'SourceHanSansJP-B', '源ノ角ゴシック-B';
    src: url('
      fonts/SourceHanSansJP-Bold.otf
      ') format('opentype');
  }

  * {
    font-family: 'SourceHanSansJP-L', '源ノ角ゴシック-L', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    color: rgba(58, 54, 60, 1.0);
  }

  h1, h1 a {
    font-size: 18pt;
    line-height: 1.2em;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(58, 54, 60, 1.0),
                 -2px 2px 2px rgba(58, 54, 60, 1.0),
                 2px -2px 2px rgba(58, 54, 60, 1.0),
                 -2px -2px 2px rgba(58, 54, 60, 1.0);
    text-decoration: none;
  }

  h2, h2 a {
    color: rgba(231, 44, 0, 1.0);
    text-shadow: 2px 2px 1px #fff,
                 -2px 2px 1px #fff,
                 2px -2px 1px #fff,
                 -2px -2px 1px #fff;
    text-decoration: none;
  }

  h3, h3 a {
    font-size: 12pt;
    line-height: 1.2em;
    color: rgba(58, 54, 60, 1.0);
  }

  p {
    font-size: 11pt;
    margin: 0;
    line-height: 1.2em;
  }

  p.error {
    font-size: 18pt;
    margin: 20px 0 0 0;
    padding: 10px;
    display: block;
    border: double 1px rgba(231, 44, 0, 1.0);
    border-radius: 4px;
    color: rgba(231, 44, 0, 1.0);
    text-align: center;
    text-shadow: 2px 2px 1px #fff,
                 -2px 2px 1px #fff,
                 2px -2px 1px #fff,
                 -2px -2px 1px #fff;
    text-decoration: none;
  }

  p.vote-button {
    font-size: 10pt;
    padding: 2px;
    display: inline;
    border: double 1px rgba(245, 54, 132, 1.0);
    border-radius: 4px;
    color: rgba(245, 54, 132, 1.0);
    text-shadow: 2px 2px 1px #fff,
                 -2px 2px 1px #fff,
                 2px -2px 1px #fff,
                 -2px -2px 1px #fff;
    text-decoration: none;
  }

  p.voted-button {
    font-size: 10pt;
    padding: 2px;
    display: inline;
    border: double 1px rgba(245, 54, 132, 1.0);
    border-radius: 4px;
    color: rgba(245, 54, 132, 0.4);
    text-shadow: 2px 2px 1px #fff,
                 -2px 2px 1px #fff,
                 2px -2px 1px #fff,
                 -2px -2px 1px #fff;
    text-decoration: none;
  }

  .hidden {
      display: none;
  }

  header {
    clear: both;
    border-bottom: 1px rgba(208, 78, 0, 1.0) solid;
    background-color: rgba(58, 54, 60, 1.0);
    position: fixed;
    width: 100%;
    z-index: 1;

    div#title-logo {
      padding: 14px 0 0 5%;
      float: left;
      img {
        width: 150px;
      }
    }

    nav#gloval-nav-pc {
      ul {
        margin: 0;
        padding: 20px 0 0 0;
        height: 55px;

        li {
          margin: 0;
          padding: 0;
          color: rgba(235, 215, 150, 1.0);
          display: inline-block;
          width: 140px;
          height: 55px;
          font-size: 12pt;
          text-align: center;

          a {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 55px;
            font-weight: bold;
            text-decoration: none;
            color: rgba(250, 251, 225, 1.0);
            font-family: 'SourceHanSansJP-B', '源ノ角ゴシック-B', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
          }
        }

        li:last-child {
          width: 200px;
        }

        form {
          width: 200px;
          margin: 0 0 0 6px;
          position: relative;
          display: inline;
          input {
            width: 120px;
            height: 25px;
            padding: 0 0 0 10px;
            border-style: none;
            border-radius: 50px;
            background-color: rgba(233, 222, 205, 1.0);
          }
          input:focus {
            border-style: none;
            border:solid 1px rgba(231, 44, 0, 1.0);
          }
          button {
            border-style: none;
            border-radius: 10px;
            background-color: rgba(233, 222, 205, 1.0);
          }

          div.keyword-search-results {
            margin: -14px 0 0 0;
            padding: 0 2px;
            display: none;
            top: 40px;
            width: 168px;
            max-height: 300px;
            overflow: scroll;
            z-index: 9999999;
            background-color: rgba(248, 255, 235, 0.8);
            border: solid 1px rgba(58, 54, 60, 1.0);
            border-radius: 5px;
            position: absolute;

            p.error {
              margin: 0;
              border-style: none;
            }

            p.result-name {
            
            }

            section:last-child {
              margin: 0 0 20px 0;
            }
            section.result h3 {
              margin: 0;
              a {
                color: rgba(58, 54, 60, 1.0);
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 640px) {
      div#title-logo {
        padding: 0;
        float: none;
        width: 150px;
        margin: 0 auto; 
        a {
          display: block;
          img {
            width: 150px;
          }
        }
      }
      nav#gloval-nav-pc {
        ul {
          clear: both;
          padding: 0;
          width: 100%;
          li {
            width: 32%;
          }
          li:last-child {
            display: none;
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      nav#gloval-nav-pc {
        ul {
          // clear: both;
          // padding: 0;

          li {
            // width: 20%;
          }
          li:last-child {
            display: none;
          }
        }
      }
    }

    @media screen and (max-width: 1074px) {
      article.list {
        width: 420px;
        margin: 10px auto 0 auto;
        float: none;
      }
    }
  }

  nav#sp-menu {
    display: none;
  }

  div#page-wrapper {
    padding: 110px 5% 0 5%;
    position: relative;
    min-height: 100%;

  	li {
      list-style: none;
  	}
  }
  @media screen and (max-width: 640px) {
    div#page-wrapper {
      padding: 140px 5% 0 5%;
    }
  }
}