<h1>Yammyについて</h1>
<main>
	<article>
		<section>
			<h2>いつでも見れる</h2>
			<p>部屋からでも、教室からでも学内からであれば最新の献立を見ることができます。</p>
		</section>
		<section>
			<h2>投票しましょう</h2>
			<p>おいしかったメニューは投票しましょう。人気のメニューはリクエストされるかも!?</p>
		</section>
		<section>
			<h2>過去の献立も</h2>
			<p>献立データはいつでもさかのぼって見ることができます。検索もできます。</p>
		</section>
		<section>
			<h2>開発者向けAPI</h2>
			<p>献立データをAPIで提供します。詳しくは<a alt="APIドキュメント" href="docs/v1/api_document.pdf">ドキュメント</a>をご覧ください。</p>
		</section>
	</article>
</main>