body.sp {
  main#pageDaily {
    article.daily {
      h2 {
        margin: 0;
        display: inline-block;
      }
      section {
        margin: 6px 15px;
      }
      section.meal {
        float: left;
        width: 100%;

        li {
          font-size: 11pt;
          width: 100%;
        }
        p {
          margin: 3px 0;
        }
        p.nutrition {
          float: left;
          font-size: 10pt;
        }
        p.dish {
          float: left;
          width: 70%;
        }
        p.kcal {
          float: right;
          text-align: right;
          width: 30%;
          font-size: 10pt;
          color: rgba(45, 15, 11, 0.7);
        }
        ul {
          padding: 6px 20px 0 0;
        }
      }

      section.nutrition {
        clear: both;
        width: 100%;
        h2 {
          margin: 12px 0 0 0;
        }
        ul {
          padding: 6px 20px 0 0;
          margin: 0;
        }
        li {
          font-size: 11pt;
        }
      }
    }
  }
}